@import "/src/scss/var.scss";

.heading {
  font-size: 24px;
  color: $text-color;
  border-bottom: 1px solid $border-color;
  padding: 1rem;
}

.mainWrap {
  padding: 10px;
  .inputField {
    width: 100%;
    border: 1px solid gray;
    border-radius: 4px;
    height: 40px;
    padding-left: 10px;
  }
  button {
    height: 40px;
    border-radius: 4px;
    width: 100%;
    margin-top: 15px;
    border: 1px solid gray;
  }
}

.sliderWrap {
  display: flex;
  margin-top: 20px;
  align-items: center;
  gap: 15px;
  border: 1px solid gray;
  padding: 10px 15px 10px 10px;
  border-radius: 8px;
  box-shadow: $box-shadow;
}
