.mainWrap {
  display: flex;
  height: 100vh;
}

.topBar {
  flex-direction: column;
  justify-content: flex-start;
  border-right: 1px solid #ababab54;
  height: 100%;
  :global {
    .nav-link {
      padding: 10px 30px;
      border-radius: 0px !important;
      background-color: rgb(0 135 255 / 11%);
      border-bottom: 1px solid #ababab54;
    }
  }
}

.contentWrap {
  padding: 1rem;
}
