//Variables
$text-color: #5f6369;
$border-color: #ababab54;

$box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
