@import "./var";

body {
  margin: 0;
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  flex-basis: 30%;
  border-right: 1px solid $border-color;
}

.content {
  flex-basis: 70%;
  @include flexCenter;
  background-color: #f0f0f0;
}

.modelLoader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .innerWrap {
    height: 200px;
    width: 200px;
    position: relative;
  }
  .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
